section.acc-about-5#acc-about-7
	.container
		.relationship-slider
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.item
							img(src="./img/about/about_6.png", alt="")
					.swiper-slide
						.item
							img(src="./img/about/about_7.png", alt="")
					.swiper-slide
						.item
							img(src="./img/about/about_8.png", alt="")
					.swiper-slide
						.item
							img(src="./img/about/about_9.png", alt="")
					.swiper-slide
						.item
							img(src="./img/about/about_10.png", alt="")
					.swiper-slide
						.item
							img(src="./img/about/about_11.png", alt="")
			.swiper-navigation
				.swiper-prev
				.swiper-next