section.acc-about-2
	.container
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					.history-item
						.img
							img(src="./img/about/about_2.jpg", alt="")
						.content
							h2(data-year="2007") 2007
							p ACC was established on the basis of ATL Co. Ltd. The company decided to transform into a joint stock company to suit the new development situation. This really marked a new milestone and created a plenty of opportunities for it to promote internal resources and strengths to rise up.
				.swiper-slide
					.history-item
						.img
							img(src="./img/about/about_5.jpg", alt="")
						.content
							h2(data-year="2008") 2008
							p ACC was established on the basis of ATL Co. Ltd. The company decided to transform into a joint stock company to suit the new development situation. This really marked a new milestone and created a plenty of opportunities for it to promote internal resources and strengths to rise up.
				.swiper-slide
					.history-item
						.img
							img(src="./img/about/about_5.jpg", alt="")
						.content
							h2(data-year="2009") 2009
							p ACC was established on the basis of ATL Co. Ltd. The company decided to transform into a joint stock company to suit the new development situation. This really marked a new milestone and created a plenty of opportunities for it to promote internal resources and strengths to rise up.


		.history-timeline
			.swiper-history-pagination
			.swiper-navigation
				.swiper-prev
				.swiper-next

