section.acc-career-1
	.container
		.row
			.col-lg-6
				h1.h-title Asia Chemical Corporation
				span We are the leading chemical distributor in Vietnam
				p As a leading distributor, people are our greatest asset. At ACC, we create an environment of continuous learning and personal development to help you deliver your best. 

				p Asia Chemical Corporation (ACC) provides an exceptional environment for a successful career and personal growth.
				
				p At ACC, we are always looking for talent people. We pride ourselves on hiring individuals who are innovative thinkers with diverse backgrounds. Hundreds of our staff have good background including Chemical B.A,M.B.A graduates, Food Technology specialists.
			.col-lg-6
				img(src="./img/career/career_1.jpg", alt="")
