section.acc-about-8#acc-about-6
	.container
		.row
			.col-lg-6
				.img
					img(src="./img/about/about_17.jpg", alt="")
			.col-lg-6
				.content
					h2 Achievement
					p In chemical market has many challenges, we continue to be focused on growth and on increasing our customer base for long-term value. We are confident in our growth.
					br
					p In 2012 ACC was ranked as 373th company of VNR500 (VNR500 - Top 500 Vietnamese largest private enterprises), 150th FAST500 (Top 500 fastest growing enterprises in Vietnam).
		.row
			.col-lg-6
				.img
					img(src="./img/about/about_18.jpg", alt="")
			.col-lg-6
				.content
					h2 Achievement
					p In chemical market has many challenges, we continue to be focused on growth and on increasing our customer base for long-term value. We are confident in our growth.
					br
					p In 2012 ACC was ranked as 373th company of VNR500 (VNR500 - Top 500 Vietnamese largest private enterprises), 150th FAST500 (Top 500 fastest growing enterprises in Vietnam).
