section.acc-service-1
	.container
		.row
			.col-lg-4
				h1.h-title Global Sourcing Local Services
			.col-lg-8
				.content
					span Chemical distribution is ACC's main activity. We provide customers and suppliers with an extensive chemical distribution network. In addition, with our capabilities, we can also offer a total solution or customizable services along the chemical value chain. 

					p Sourcing, Importing & Warehousing, Technical Sales and Customer Service are our business. We specialize in inventory management and just in time delivery. Whether it is replenishing your existing product needs or working to solve future needs, let us help you with your requirements.
		.row
			- for ( var x = 0 ; x < 4; x++)
				.col-md-6
					a(href="#")
						figure
							.box-zoom
								img(src='./img/service/service_1.jpg', alt='')
							figcaption
								h3 Global Sourcing
								p ACC has over 15 years experience in sourcing from EU, US, Newzealand and many regions