section.acc-contact-1
	.container
		h1.h-title Get In Touch
		.row
			.col-lg-4
				.info
					h2 Head Office - Ho Chi Minh City
					p 11th Floor - Vinamilk Tower,
					p 10 Tan Trao St., Tan Phu Ward,
					p Dist. 7, HCMC, Vietnam
					p.tel Tel : 
						strong +84 28 5416 1616 
					p Fax: 
						strong +84 28 5415 7666 
					p E-mail: 
						span info@asia-chemical.com 
					p Website: www.asia-chemical.com
					a(href="#") View map
					
			.col-lg-4
				.info
					h2 Head Office - Ho Chi Minh City
					p 7th Floor -  Suite 707, TTC Building,
					p 19 Duy Tan Street, Dich Vong Ward,
					p Cau Giay District, Hanoi City
					p.tel Tel : 
						strong +84 28 5416 1616 
					p Fax: 
						strong +84 28 5415 7666 

			.col-lg-4
				.info
					h2 CAN THO BRANCH
					p Block A04-02, A4-03, Nam Khang Residential, Hung Thanh Ward, Cai Rang Dist,
					p Can Tho city
					p.tel Tel : 
						strong +84 28 5416 1616 
					p Fax: 
						strong +84 28 5415 7666 