.acc-nav-1
	.nav-wrap
		a.nav-toggle(href="javascript:void(0)") Dairy and Beverage
			span.fa.fa-caret-down

		nav
			ul
				li
					a(href="product-detail.html") Dairy Powders
				li 
					a(href="product-detail.html").active Sweeteners
				li 
					a(href="product-detail.html") Acids
				li 
					a(href="product-detail.html") Specialty Salts
				li 
					a(href="product-detail.html") Colourings
				li 
					a(href="product-detail.html") Additives
				li 
					a(href="product-detail.html") Nutritional
	.nav-wrap
		a.nav-toggle(href="javascript:void(0)") Dairy and Beverage
			span.fa.fa-caret-down

		nav
			ul
				li
					a(href="product-detail.html") Dairy Powders
				li 
					a(href="product-detail.html").active Sweeteners
				li 
					a(href="product-detail.html") Acids
				li 
					a(href="product-detail.html") Specialty Salts
				li 
					a(href="product-detail.html") Colourings
				li 
					a(href="product-detail.html") Additives
				li 
					a(href="product-detail.html") Nutritional
	.nav-wrap
		a.nav-toggle(href="javascript:void(0)") Dairy and Beverage
			span.fa.fa-caret-down

		nav
			ul
				li
					a(href="product-detail.html") Dairy Powders
				li 
					a(href="product-detail.html").active Sweeteners
				li 
					a(href="product-detail.html") Acids
				li 
					a(href="product-detail.html") Specialty Salts
				li 
					a(href="product-detail.html") Colourings
				li 
					a(href="product-detail.html") Additives
				li 
					a(href="product-detail.html") Nutritional
	.nav-wrap
		a.nav-toggle(href="javascript:void(0)") Dairy and Beverage
			span.fa.fa-caret-down

		nav
			ul
				li
					a(href="product-detail.html") Dairy Powders
				li 
					a(href="product-detail.html").active Sweeteners
				li 
					a(href="product-detail.html") Acids
				li 
					a(href="product-detail.html") Specialty Salts
				li 
					a(href="product-detail.html") Colourings
				li 
					a(href="product-detail.html") Additives
				li 
					a(href="product-detail.html") Nutritional
.contact
	h3 Contact sales
	p Tel : 
		strong +84 28 5416 1616 
	p E-mail: 
		a(href="#")
			span info@asia-chemical.com