.acc-nav-1

	.nav-wrap
		a.nav-toggle(href="javascript:void(0)") Dairy and Beverage
	.nav-wrap
		a.nav-toggle(href="javascript:void(0)") Dairy and Beverage
			span.fa.fa-caret-down

	.nav-wrap
		a.nav-toggle(href="javascript:void(0)") Dairy and Beverage
			span.fa.fa-caret-down

.contact
	h3 Commercial & Sales
	h4 Phan Duy Hieu
	p Commercial Director
	p Tel : 
		strong +84 28 5416 1616 
	p E-mail: 
		a(href="#")
			span info@asia-chemical.com
.contact
	h3 Global Sourcing
	p E-mail: 
		a(href="#")
			span info@asia-chemical.com