section.acc-news-1
	.container
		h1 News &amp; Events
		.row
			.col-lg-6
				.hot-news
					img(src="./img/news/news_1.jpg", alt="")
					.content
						time 31.08.2018
						h2 Mekong Enterprise Fund II Ltd had invested about $3.4 million in Asia Chemical Corporation.
						a(href="javascript:void(0)") Detail
			.col-lg-6
				.side-news
					.news-item
						figure
							.news-img
								img(src="./img/news/news_2.jpg", alt="alt")
							figcaption
								time 31.08.2018
								h2 Mekong Enterprise Fund II Ltd had invested about $3.4 million in Asia Chemical Corporation.
								a(href="javascript:void(0)") Detail
					.news-item
						figure
							.news-img
								img(src="./img/news/news_2.jpg", alt="alt")
							figcaption
								time 31.08.2018
								h2 Mekong Enterprise Fund II Ltd had invested about $3.4 million in Asia Chemical Corporation.
								a(href="javascript:void(0)") Detail
			.col-sm-6.col-lg-3
				.news-small-item
					figure
						.news-img
							img(src="./img/news/news_2.jpg", alt="alt")
						figcaption
							time 31.08.2018
							h2 Mekong Enterprise Fund II Ltd had invested about $3.4 million in Asia Chemical Corporation.
							a(href="javascript:void(0)") Detail
			.col-sm-6.col-lg-3
				.news-small-item
					figure
						.news-img
							img(src="./img/news/news_2.jpg", alt="alt")
						figcaption
							time 31.08.2018
							h2 Mekong Enterprise Fund II Ltd had invested about $3.4 million in Asia Chemical Corporation.
							a(href="javascript:void(0)") Detail
			.col-sm-6.col-lg-3
				.news-small-item
					figure
						.news-img
							img(src="./img/news/news_2.jpg", alt="alt")
						figcaption
							time 31.08.2018
							h2 Mekong Enterprise Fund II Ltd had invested about $3.4 million in Asia Chemical Corporation.
							a(href="javascript:void(0)") Detail
			.col-sm-6.col-lg-3
				.news-small-item
					figure
						.news-img
							img(src="./img/news/news_2.jpg", alt="alt")
						figcaption
							time 31.08.2018
							h2 Mekong Enterprise Fund II Ltd had invested about $3.4 million in Asia Chemical Corporation.
							a(href="javascript:void(0)") Detail
