section.acc-photo-1
	.container
		-for(i=0;i<1;i++)
			.row
				.col-lg-6
					.photo-gallery-wrapper
						.photo-gallery
							a(href="./img/news/news_1.jpg")
								img(src="./img/news/news_1.jpg", alt="")
							a(href="./img/news/news_2.jpg")
								img(src="./img/news/news_2.jpg", alt="")
						.photo-name
							span.mdi-eye
							span Social Activities
					.photo-gallery-wrapper
						.photo-gallery
							a(href="./img/news/news_1.jpg")
								img(src="./img/news/news_1.jpg", alt="")
							a(href="./img/news/news_2.jpg")
								img(src="./img/news/news_2.jpg", alt="")
						.photo-name
							span.mdi-eye
							span Social Activities
					.photo-gallery-wrapper
						.photo-gallery
							a(href="./img/news/news_1.jpg")
								img(src="./img/news/news_1.jpg", alt="")
							a(href="./img/news/news_2.jpg")
								img(src="./img/news/news_2.jpg", alt="")
						.photo-name
							span.mdi-eye
							span Social Activities
				.col-lg-6
					.photo-gallery-wrapper
						.photo-gallery
							a(href="./img/news/news_1.jpg")
								img(src="./img/news/news_1.jpg", alt="")
							a(href="./img/news/news_2.jpg")
								img(src="./img/news/news_2.jpg", alt="")
						.photo-name
							span.mdi-eye
							span Social Activities
					.photo-gallery-wrapper
						.photo-gallery
							a(href="./img/news/news_1.jpg")
								img(src="./img/news/news_1.jpg", alt="")
							a(href="./img/news/news_2.jpg")
								img(src="./img/news/news_2.jpg", alt="")
						.photo-name
							span.mdi-eye
							span Social Activities
					.photo-gallery-wrapper
						.photo-gallery
							a(href="./img/news/news_1.jpg")
								img(src="./img/news/news_1.jpg", alt="")
							a(href="./img/news/news_2.jpg")
								img(src="./img/news/news_2.jpg", alt="")
						.photo-name
							span.mdi-eye
							span Social Activities
		.btn-viewmore
			a(href="javascript:void(0)") View more
