section.acc-about-3#acc-about-2
	.container
		.row
			.col-lg-4
				.img
					img(src="./img/about/about_3.jpg", alt="")
			.col-lg-4
				h2 Vision &amp; Mission
				h3 ACC commits to
				ul
					li Providing products of agreed quality, flexible, efficient solutions
					li Serving professionally and friendly
					li Making AC Group the focal point of people of passion, desire for achievement, true partners!
					li Bringing real value-addedness to our Customers, Suppliers, Staff and Share-holders
					li Acting with full social responsibility
			.col-lg-4
				h3 ACC strives to be Vietnam’s leading corporation providing ingredients and optimal solutions in
				ul
					li Foods, Pharmaceuticals, Cosmetics
					li Feeds
					li Industrial Chemicals
				.img-2
					img(src="./img/about/about_4.jpg", alt="")