section.acc-about-6#acc-about-4
	.container
		h2 Local Infrastructures
		.tab-list
			ul
				li(data-tab-index='0').active Head Office &amp; Branches
				li(data-tab-index='1') Warehouses
		.panel-list
			.tab-container.show(data-tab-index='0')
				.row
					.col-lg-6
						h3 Head office &amp; Branches
						p ACC Head office is located at Vinamilk Tower - near the downtown of Ho Chi Minh City providing advantages and conveniences in Communication and Service.
						br
						p Branch office ACC-Hanoi is located in Hanoi Capital down town with permanent sales staff to provide products and services to customers in Northern and Middle parts of Vietnam.
						br
						p Apart from synchronous infrastructure system, ACC also has a modern IT system that helps strengthen dynamism in communication as well as ensure the security and confidentiality of internal and external information. Specially, the applied business software allows the corporation provide updated and accurate data, ensure strict control and improve efficiency of supply chain management.
					.col-lg-6
						.img
							img(src="./img/about/about_12.jpg", alt="")
			.tab-container(data-tab-index='1', style='display:none;') Some content - 2