header.acc-header
	.container
		.wrapper
			.logo
				img(src="./img/logo.png", alt="")
			.nav-wrapper
				.top-nav
					.searchbox
						input.searchinput(type='text' placeholder='Search')
						button.searchbutton(type='submit')
							span.fas.fa-search
					a(href="#").facebook
						span.fab.fa-facebook-f
					a(href="#").youtube
						span.fab.fa-youtube
					.language
						a(href="#").active EN
						a(href="#") VN
					.toggle-menu
						span 
						span 
						span 

				.bottom-nav
					ul.nav
						li.nav-item
							a.nav-link(href="index.html") Home
						li.nav-item
							a.nav-link(href="about.html").active About Us
						li.nav-item
							a.nav-link(href="product.html") Products
						li.nav-item
							a.nav-link(href="service.html") Services
						li.nav-item
							a.nav-link(href="news.html") News
						li.nav-item
							a.nav-link(href="investor.html") Investor Relations
						li.nav-item
							a.nav-link(href="career.html") Career
						li.nav-item
							a.nav-link(href="contact.html") Contact


