header.acc-header
	.container
		.wrapper
			.logo
				img(src="./img/logo.png", alt="")
			.nav-wrapper
				.top-nav
					.searchbox
						input.searchinput(type='text' placeholder='Search')
						button.searchbutton(type='submit')
							span.fas.fa-search
					a(href="#").facebook
						span.fab.fa-facebook-f
					a(href="#").youtube
						span.fab.fa-youtube
					.language
						a(href="#").active EN
						a(href="#") VN
					.toggle-menu
						span.mdi.mdi-menu 

				.bottom-nav
					ul.nav
						li.nav-item
							a.nav-link(href="#") Home
						li.nav-item
							a.nav-link(href="#").active About Us
						li.nav-item
							a.nav-link(href="#") Products
						li.nav-item
							a.nav-link(href="#") Services
						li.nav-item
							a.nav-link(href="#") News
						li.nav-item
							a.nav-link(href="#") Investor Relations
						li.nav-item
							a.nav-link(href="#") Career
						li.nav-item
							a.nav-link(href="#") Contact


