section.acc-about-7#acc-about-5
	.container
		h2 Quality &amp; Compliance
		p ACC is proudly certified to GDP, an recognized and accepted quality standard. We are continuously improving the effectiveness of our quality processes for an enhanced customer experience. Our leadership team is committed to providing our employee's with the necessary resources, environment, and infrastructure in which to carry out these goals which will enable us to meet our customer's needs and requirements.
		.row.list-quality
			.col-sm-6.col-lg-3
				.item
					.img
						img(src="./img/about/about_15.png", alt="")
					.caption
						span Good Distribution Practises
			.col-sm-6.col-lg-3
				.item
					.img
						img(src="./img/about/about_15.png", alt="")
					.caption
						span Good Distribution Practises
			.col-sm-6.col-lg-3
				.item
					.img
						img(src="./img/about/about_15.png", alt="")
					.caption
						span Good Distribution Practises
			.col-sm-6.col-lg-3
				.item
					.img
						img(src="./img/about/about_15.png", alt="")
					.caption
						span Good Distribution Practises