section.acc-about-1#acc-about-1
	.container
		.row.no-gutters
			.col-lg-6
				.intro-text
					h2 About ACC
					p Asia Chemical Corporation (ACC) is a leading distributor of high-quality specialty ingredients, chemicals, commodities and other materials, sourcing from worldwide suppliers and selling to a wide range of leading enterprises in Vietnam.
					p The Company specializes in providing products and services to various industries including Food &amp; Seafood, Dairy &amp; Beverage, Cosmetic, Pharmaceutical, Bakery &amp; Confectionery, Feed &amp; Veterinary and other industrial applications including Paint, Textile and Personal Care etc.
			.col-lg-6
				.intro-img
					img(src="./img/about/about_1.jpg", alt="")