section.acc-investor
	.container
		.row
			.col-lg-6
				h1.h-title Investor Relations
				h2 Creating Investor Value
				p Chemical distribution is ACC's main activity. We provide customers and suppliers with an extensive chemical distribution network. In addition, with our capabilities, we can also offer a total solution or customizable services along the chemical value chain.
				h2 Our Promise to CRM and Investor
				p At ACC, our commitment to social responsibility goes beyond compliance. We operate in ways that, wherever possible, leave a positive impact on the environment, food & feed safety and people’s communities & workplaces. Also, we will work with our philosophy and strategy that bring the best value to society and our investors.
				h2 Download Report & Document
				.download
					a(href="#") Annual Report 2017
					a(href="#") Sustainability Report
					a(href="#") 2018 Fact Sheet
			.col-lg-6
				img(src="./img/investor/investor_1.jpg", alt="")