.acc-news-detail
	.container
		.row
			.col-lg-8
				time 31.08.2018
				h1 Vietnamese PE Mekong Capital fully exits Asia Chemicals
				.fullcontent
					img(src="./img/news_detail/news_details_1.jpg", alt="")
					br
					p
						| ACC is the last divestment of MEF II, according to a release. With this divestment, MEF II has successfully divested 100 per cent of its final remaining investment, which resulted in the Fund achieving a net return multiple of 4.5x and net IRR of 22.5 per cent for its investors. This has also marked one of the most successful funds in Asian Private Equity.
					br
					p
						| Mekong Capital’s MEF II invested $3.8 million in ACC in 2011, which was its 10th and final investment.
					br
					p
						| Established in 2001 as a privately-held company in the food industry, ACC has pivoted into a leading distributor of high-quality specialty ingredients, chemicals, non-oil related commodities and other materials, sourcing from worldwide suppliers and selling to a wide range of leading enterprises in Vietnam.
					br
					p
						| Launched in 2006, MEF II is the second private equity fund managed by Mekong Capital. MEF II’s notable investments included Mobile World (Vietnam’s largest nationwide retailer of mobile devices and consumer electronics), Golden Gate (the leading restaurant chain operator in Vietnam), Vietnam Australia International School (a leading private bilingual K-12 school in Vietnam), Mai Son (a leading fashion retailer) and ICP (personal care products).
					br
					p
						| In this January, MEF II made a full exit from its investment in Mobile World Investment Joint Stock Company (MWG) at a returns multiple of 57x and IRR of 61.1 per cent.
					br
					p
						| The final block of 5 million shares was sold at a price of VND165,000 ($7.3) per share and completed on 29 January 2018. The cumulative net proceeds from the sale of MEF II’s MWG shares and dividends received was $199.4 million.
			.col-md-8.col-lg-4
				.other-news
					h3 Latest news
					.other-list
						-for(let i=0;i<5;i++)
							figure
								.news-img
									img(src="./img/news_detail/news_details_2.jpg", alt="alt").class
								figcaption 
									time 31.08.2018
									h4 Fund invests in Asia Chemicals Corporation

