section.acc-career-2
	.container
		h2.h-title Open positions
		.row
			.col
				.position-wrapper
					.title-wrapper
						h3 
							span 01
							| Financial Analyst
							time 31/01/2019
					.detail-wrapper
						h4 Yêu cầu chung
						ul
							li Số lượng: 01. Nam / Nữ, tuổi từ 26 trở lên.
							li TNĐH chuyên ngành Kế Toán, Kiểm Toán, Tài Chính Ngân Hàng
							li Từ 03 năm kinh nghiệm trở lên ở vị trí kiểm toán tại công ty kiểm toán 
							li Giao tiếp thuyết phục và kỹ năng trình bày chuyên nghiệp.
							li Tiếng Anh: có thể sử dụng căn bản (tương đương điểm TOEIC từ 550 trở lên)
							li Sử dụng thành thạo Vi Tính Văn Phòng, đặc biệt là excel, power point
							li Có tinh thần trách nhiệm, cẩn thận, nhiệt tình, teamwork
							li Có khả năng làm việc độc lập, làm việc theo nhóm, có thể chịu được áp lực cao.
						h4 Mô tả công việc
						h5 1. Công việc chính
						ul
							li Chuyên viên lập báo cáo hợp nhất (ACC có 3 công ty con): 40% công việc
							li Chuyên viên phân tích tài chánh: 30% công việc
							li Trưởng ban AP: (Công việc này kế toán trưởng sẽ xem xét sau khi ứng viên hiểu được hệ thống ERP): 30% công việc
						h5 2. Mô tả chi tiết
						ul
							li Rà soát các BCTC từ công ty con (3 công ty con)
							li Rà soát BCTC hợp nhất được kiểm toán gửi trước khi lên BCTC hợp nhất
							li Lập các báo cáo theo yêu cầu BĐH về báo cáo hợp nhất
							li Hàng tháng lập báo cáo quản trị báo cáo ban điều hành và công ty mẹ 
							li Tính các chỉ số tài chánh NWC ảnh hưởng đến dòng tiền
							li Tracking thực hiện so với kế hoạch về chi phí, các chỉ số NWC, phân tích khác, …
							li Làm budget hàng năm cùng team
							li Kiểm soát và lên kế hoạch chi tiền thuộc công tác AP
							li Kiểm soát các đề AP lên hệ thống AX
						h4 Phúc lợi
						ul
							li Lương thưởng và chính sách phúc lợi cạnh tranh.
							li Phụ cấp đi lại, phụ cấp cơm trưa.
							li Hợp đồng lao động và bảo hiểm (BHXH, BHYT, BHTN) theo quy định của luật.
							li Chương trình khám sức khỏe định kỳ và bảo hiểm công tác.
							li Được tham dự các khóa đào tạo hội nhập, đào tạo nội bộ, bên ngoài, trong và ngoài nước.
							li Du lịch hàng năm và chế độ đãi ngộ hàng năm theo chính sách công ty.
							li Làm việc trong môi trường thân thiện và năng động.
						h4 Liên hệ
						p Phòng Nhân Sự - ACC
						p Tầng 11, Tòa nhà Vinamilk, 10 Tân Trào, P. Tân Phú, Q.7, Tp. Hồ Chí Minh.
						p Tel: 
							strong (84.28) 5416 1616
						p Fax:
							strong (84.28) 5415 7666
						p E-mail: 
							span recruitment@asia-chemical.com
						p Website: 
							span.web www.asia-chemical.com
						.wrapper-btn
							a(href="#").btn-apply Apply for this job
							a(href="#").btn-appl-form Application Form
				.position-wrapper
					.title-wrapper
						h3 
							span 01
							| Financial Analyst
							time 31/01/2019
					.detail-wrapper
						h4 Yêu cầu chung
						ul
							li Số lượng: 01. Nam / Nữ, tuổi từ 26 trở lên.
							li TNĐH chuyên ngành Kế Toán, Kiểm Toán, Tài Chính Ngân Hàng
							li Từ 03 năm kinh nghiệm trở lên ở vị trí kiểm toán tại công ty kiểm toán 
							li Giao tiếp thuyết phục và kỹ năng trình bày chuyên nghiệp.
							li Tiếng Anh: có thể sử dụng căn bản (tương đương điểm TOEIC từ 550 trở lên)
							li Sử dụng thành thạo Vi Tính Văn Phòng, đặc biệt là excel, power point
							li Có tinh thần trách nhiệm, cẩn thận, nhiệt tình, teamwork
							li Có khả năng làm việc độc lập, làm việc theo nhóm, có thể chịu được áp lực cao.
						h4 Mô tả công việc
						h5 1. Công việc chính
						ul
							li Chuyên viên lập báo cáo hợp nhất (ACC có 3 công ty con): 40% công việc
							li Chuyên viên phân tích tài chánh: 30% công việc
							li Trưởng ban AP: (Công việc này kế toán trưởng sẽ xem xét sau khi ứng viên hiểu được hệ thống ERP): 30% công việc
						h5 2. Mô tả chi tiết
						ul
							li Rà soát các BCTC từ công ty con (3 công ty con)
							li Rà soát BCTC hợp nhất được kiểm toán gửi trước khi lên BCTC hợp nhất
							li Lập các báo cáo theo yêu cầu BĐH về báo cáo hợp nhất
							li Hàng tháng lập báo cáo quản trị báo cáo ban điều hành và công ty mẹ 
							li Tính các chỉ số tài chánh NWC ảnh hưởng đến dòng tiền
							li Tracking thực hiện so với kế hoạch về chi phí, các chỉ số NWC, phân tích khác, …
							li Làm budget hàng năm cùng team
							li Kiểm soát và lên kế hoạch chi tiền thuộc công tác AP
							li Kiểm soát các đề AP lên hệ thống AX
						h4 Phúc lợi
						ul
							li Lương thưởng và chính sách phúc lợi cạnh tranh.
							li Phụ cấp đi lại, phụ cấp cơm trưa.
							li Hợp đồng lao động và bảo hiểm (BHXH, BHYT, BHTN) theo quy định của luật.
							li Chương trình khám sức khỏe định kỳ và bảo hiểm công tác.
							li Được tham dự các khóa đào tạo hội nhập, đào tạo nội bộ, bên ngoài, trong và ngoài nước.
							li Du lịch hàng năm và chế độ đãi ngộ hàng năm theo chính sách công ty.
							li Làm việc trong môi trường thân thiện và năng động.
						h4 Liên hệ
						p Phòng Nhân Sự - ACC
						p Tầng 11, Tòa nhà Vinamilk, 10 Tân Trào, P. Tân Phú, Q.7, Tp. Hồ Chí Minh.
						p Tel: 
							strong (84.28) 5416 1616
						p Fax:
							strong (84.28) 5415 7666
						p E-mail: 
							span recruitment@asia-chemical.com
						p Website: 
							span.web www.asia-chemical.com
						.wrapper-btn
							a(href="#").btn-apply Apply for this job
							a(href="#").btn-appl-form Application Form
				.position-wrapper
					.title-wrapper
						h3 
							span 01
							| Financial Analyst
							time 31/01/2019
					.detail-wrapper
						h4 Yêu cầu chung
						ul
							li Số lượng: 01. Nam / Nữ, tuổi từ 26 trở lên.
							li TNĐH chuyên ngành Kế Toán, Kiểm Toán, Tài Chính Ngân Hàng
							li Từ 03 năm kinh nghiệm trở lên ở vị trí kiểm toán tại công ty kiểm toán 
							li Giao tiếp thuyết phục và kỹ năng trình bày chuyên nghiệp.
							li Tiếng Anh: có thể sử dụng căn bản (tương đương điểm TOEIC từ 550 trở lên)
							li Sử dụng thành thạo Vi Tính Văn Phòng, đặc biệt là excel, power point
							li Có tinh thần trách nhiệm, cẩn thận, nhiệt tình, teamwork
							li Có khả năng làm việc độc lập, làm việc theo nhóm, có thể chịu được áp lực cao.
						h4 Mô tả công việc
						h5 1. Công việc chính
						ul
							li Chuyên viên lập báo cáo hợp nhất (ACC có 3 công ty con): 40% công việc
							li Chuyên viên phân tích tài chánh: 30% công việc
							li Trưởng ban AP: (Công việc này kế toán trưởng sẽ xem xét sau khi ứng viên hiểu được hệ thống ERP): 30% công việc
						h5 2. Mô tả chi tiết
						ul
							li Rà soát các BCTC từ công ty con (3 công ty con)
							li Rà soát BCTC hợp nhất được kiểm toán gửi trước khi lên BCTC hợp nhất
							li Lập các báo cáo theo yêu cầu BĐH về báo cáo hợp nhất
							li Hàng tháng lập báo cáo quản trị báo cáo ban điều hành và công ty mẹ 
							li Tính các chỉ số tài chánh NWC ảnh hưởng đến dòng tiền
							li Tracking thực hiện so với kế hoạch về chi phí, các chỉ số NWC, phân tích khác, …
							li Làm budget hàng năm cùng team
							li Kiểm soát và lên kế hoạch chi tiền thuộc công tác AP
							li Kiểm soát các đề AP lên hệ thống AX
						h4 Phúc lợi
						ul
							li Lương thưởng và chính sách phúc lợi cạnh tranh.
							li Phụ cấp đi lại, phụ cấp cơm trưa.
							li Hợp đồng lao động và bảo hiểm (BHXH, BHYT, BHTN) theo quy định của luật.
							li Chương trình khám sức khỏe định kỳ và bảo hiểm công tác.
							li Được tham dự các khóa đào tạo hội nhập, đào tạo nội bộ, bên ngoài, trong và ngoài nước.
							li Du lịch hàng năm và chế độ đãi ngộ hàng năm theo chính sách công ty.
							li Làm việc trong môi trường thân thiện và năng động.
						h4 Liên hệ
						p Phòng Nhân Sự - ACC
						p Tầng 11, Tòa nhà Vinamilk, 10 Tân Trào, P. Tân Phú, Q.7, Tp. Hồ Chí Minh.
						p Tel: 
							strong (84.28) 5416 1616
						p Fax:
							strong (84.28) 5415 7666
						p E-mail: 
							span recruitment@asia-chemical.com
						p Website: 
							span.web www.asia-chemical.com
						.wrapper-btn
							a(href="#").btn-apply Apply for this job
							a(href="#").btn-appl-form Application Form