section.acc-about-4#acc-about-3
	.container
		h2 Our Capabilities
		.img
			img(src="./img/about/about_5.png", alt="")
		.row
			.col-lg-6
				h3 We are professional by global standards
				p We combine technical sales and experienced supply chain to provide the products and services that meet your chemical needs.
				br
				p Professionals in fields of chemical, business development and operational management are the core of our excellence. Hundreds of our staff have good background including chemical expertise and quality management. They are capable to act as front line technical support to customers to handle all quality and application matters.
				br
				p By leveraging the combined local infrastructures and service capabilities, we are able to provide globally competitive, locally responsive supply chain services to both our customers and the chemical suppliers.
			.col-lg-6
				h3 We have an extensive network with long-term relationships in chemical markets.
				p Strategic relationships with manufacturers of food, pharmaceuticals and specialty chemical products in global and locally serve as a valuable resource to ACC customers, enabling them to procure chemical based products necessary for their diverse and complex applications. We work closely with our suppliers to help our customers achieve their goals.
