footer.footer
	.container
		.row.wrapper
			.col-lg-3.col-sm-6
				.link-wrapper
					h4 About Us
					ul.nav
						li.nav-item
							a(href="#").nav-link Introduction
						li.nav-item
							a(href="#").nav-link Vision & Mission
						li.nav-item
							a(href="#").nav-link Our Capabilities
						li.nav-item
							a(href="#").nav-link Local Infrastructures
						li.nav-item
							a(href="#").nav-link Quality & Compliance
						li.nav-item
							a(href="#").nav-link Achievement
						li.nav-item
							a(href="#").nav-link Associated companies
			.col-lg-3.col-sm-6
				.link-wrapper
					h4 Products
					ul.nav
						li.nav-item
							a(href="#").nav-link Food & Seafood
						li.nav-item
							a(href="#").nav-link Dairy & Beverage
						li.nav-item
							a(href="#").nav-link Bakery & Confectionery
						li.nav-item
							a(href="#").nav-link Pharmaceutical
						li.nav-item
							a(href="#").nav-link Cosmetic
						li.nav-item
							a(href="#").nav-link Industrial Paint
						li.nav-item
							a(href="#").nav-link Industrial Textile
						li.nav-item
							a(href="#").nav-link Feed & VET
			.col-lg-3.col-sm-6
				.link-wrapper
					h4 Services
					ul.nav
						li.nav-item
							a(href="#").nav-link Global Sourcing
						li.nav-item
							a(href="#").nav-link Commercial & Technical Sales
						li.nav-item
							a(href="#").nav-link Importing & Distribution
						li.nav-item
							a(href="#").nav-link Value-Added Services
			.col-lg-3.col-sm-6
				.link-wrapper
					h4 News
					ul.nav
						li.nav-item
							a(href="#").nav-link News & Events
						li.nav-item
							a(href="#").nav-link Photo
						li.nav-item
							a(href="#").nav-link Video
		.row
			.col.coppy-right
				.wrapper-info
					ul.nav
						li.nav-item
							a(href="#").nav-link Privacy policy
						li.nav-item
							a(href="#").nav-link Security policy 
						li.nav-item
							a(href="#").nav-link Terms of Use
						li.nav-item
							a(href="#").nav-link Sitemap
					p © 2018 Asia Chemical Corporation. All Rights Reserved. Designed by Cánh Cam.
				.social
					a(href="#").facebook
						span.fab.fa-facebook-f
					a(href="#").youtube
						span.fab.fa-youtube