section.acc-home-1
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				a(href="#")
					img(src='./img/home/home_1.jpg', alt='')
					.container
						h2.h-title We are the leading chemical distributor in Vietnam

			.swiper-slide
				a(href="#")
					img(src='./img/home/home_2.jpg', alt='')
					.container
						h2.h-title ACC commits to bring to community the best source of chemicals.

			.swiper-slide
				a(href="#")
					img(src='./img/home/home_3.jpg', alt='')
					.container
						h2.h-title Identifying food safety as top priority

