section.acc-home-2
	.container
		.row
			.col-lg-6
				h1.h-title Product Safety and High Quality
				p Our product portfolio ranges from commodity chemicals to specialty ingredients. The products includes Additives, Dairy Powers, Flavors, Vitamins, Exipients, Auxiliaries, Acids, Nutritionals, Minerals,...
		.row.zone.grid-row-10-sm
			- for ( var x = 0;x < 12 ;x++)
				.col-lg-3.col-md-4.col-6.grid-col-10-sm
					a(href="product-detail.html")
						figure
							.box-zoom
								img(src='./img/product/product_1.jpg', alt='')
							figcaption
								h3 Food and Seafood

