section.acc-product-1
	.container
		.row
			.col-lg-4
				h1.h-title Product Safety and High Quality
			.col-lg-8
				.content
					span Our product portfolio ranges from commodity chemicals to specialty ingredients.
					span The products includes Additives, Dairy Powers, Flavors, span Vitamins, Exipients,
					span Auxiliaries, Acids, Nutritionals, Minerals,... which are used in many consumer and industrial products.

					p With more than 1,000 products, we have solutions to fit many applications, including Food & Seafood, Dairy & Beverage, Bakery & Confectionery, Pharmaceutical, Cosmetic, Industrial Paint, Industrial Textile, Feed & VET and other industrial applications.
					p In addition, if you don’t see what you’re looking for, we can work with you to create a custom solution or provide the expert help you need to find an existing one.
		.row.zone.grid-row-10-sm
			- for ( var x = 0;x < 12 ;x++)
				.col-lg-3.col-md-4.col-6.grid-col-10-sm
					a(href="product-detail.html")
						figure
							.box-zoom
								img(src='./img/product/product_1.jpg', alt='')
							figcaption
								h3 Food and Seafood

