section.acc-service-detail-1
	.container
		.row
			.col-lg-3.col-md-4.col-12
				include ../../../_components/nav/n-1/service
			.col-lg-9.col-md-8.col-12
				h1.h-title Dairy Powders
				.briefcontent
					p We have over 15 years experience in sourcing from EU, US, Newzealand and many other regions, with dedicated purchasing personnel based in these key locations. Our relationships and product knowledge allow us to provide information and insights on the latest pricing trends.

					p ACC sources specialty chemical and ingredients from manufacturers all over the world to ensure a reliable supply of high-quality and competitively priced products to suit the particular requirements of our customers in Vietnam.

					p Our purchasing activities are organized into specialized Divisions that mirror our fields of expertise:
				.row
					.col-sm-6
						.description
							ul
								li
									a(href="#") Food & Seafood
								li
									a(href="#") Dairy & Beverage
								li
									a(href="#") Pharmaceutical
								li
									a(href="#") Cosmetic
					.col-sm-6
						.description
							ul
								li
									a(href="#") Food & Seafood
								li
									a(href="#") Dairy & Beverage
								li
									a(href="#") Pharmaceutical
								li
									a(href="#") Cosmetic
					.col
						.swiper-container
							.swiper-pagination
							.swiper-wrapper
								- for ( var x = 1; x < 8; x++)
									.swiper-slide
										img(src="./img/product_detail/pd_1.jpg", alt="")
