section.acc-video-1
	.container
		h1 Video
		.row
			.col-md-6.col-lg-4
				.video-item
					.video-img
						.video-wrapper
							a(href="https://www.youtube.com/watch?v=v-vs_4kyCPE")
								img(src="./img/video/video_1.jpg", alt="")
						.play-button
							img(src="./img/play-button.svg", alt="")
					time 31.08.2018
					h2 MEF II completes divestment in distribution firm Asia Chemical Corporation
			.col-md-6.col-lg-4
				.video-item
					.video-img
						.video-wrapper
							a(href="https://www.youtube.com/watch?v=JPJjwHAIny4")
								img(src="./img/video/video_1.jpg", alt="")
						.play-button
							img(src="./img/play-button.svg", alt="")
					time 31.08.2018
					h2 MEF II completes divestment in distribution firm Asia Chemical Corporation
			.col-md-6.col-lg-4
				.video-item
					.video-img
						.video-wrapper
							a(href="https://www.youtube.com/watch?v=v-vs_4kyCPE")
								img(src="./img/video/video_1.jpg", alt="")
						.play-button
							img(src="./img/play-button.svg", alt="")
					time 31.08.2018
					h2 MEF II completes divestment in distribution firm Asia Chemical Corporation
		.btn-viewmore
			a(href="javascript:void(0)") View more